.culture-section {
  position: relative;
  padding: 20px;
  background-color: #f3ece4;
  border-radius: 8px;
  overflow: hidden;
}

.culture-section h2 {
  font-size: 36px;
  color: #6b4226;
  margin-bottom: 16px;
  text-align: center;
}

.culture-section p {
  font-size: 18px;
  color: #8c6239;
  line-height: 1.8;
  margin-bottom: 12px;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto; /* Centers the paragraph */
}

.culture-section button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #6b4226;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.culture-section button:hover {
  background-color: #8c6239;
}

/* Decorative Patterns */
.culture-section .pattern-top-left,
.culture-section .pattern-bottom-right {
  position: absolute;
  opacity: 0.2;
  background-size: contain;
  background-repeat: no-repeat;
}

.culture-section .pattern-top-left {
  top: 35px;
  left: 0;
  width: 160px;
  height: 160px;
}

.culture-section .pattern-bottom-right {
  bottom: 0;
  right: 20px;
  width: 256px;
  height: 256px;
}
