.places-to-visit-section {
    position: relative;
    padding: 20px;
    background-color: #f3ece4;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
  }
  
  .places-to-visit-section h2 {
    font-size: 36px;
    color: #6b4226;
    margin-bottom: 16px;
  }
  
  .places-to-visit-section p {
    font-size: 18px;
    color: #8c6239;
    text-align: justify;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 800px;
  }
  