.hero {
  text-align: center;
  padding: 50px;
  background-color: #f8f9fa;
}

.map, .about, .testimonial, .contact, .feedback {
  padding: 40px 20px;
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #ddd;
}

form input, form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#map {
  height: 100px; /* or as per your requirement */
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.hover-info {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px; /* Reduce the padding to make the box smaller */
  border-radius: 5px;
  font-size: 14px; /* You can adjust the font size to make the text smaller */
  max-width: 250px; /* Optionally, set a max width for the box */
}

.map-container {
  width: 100%;
  height: 75vh; /* Adjust this based on how much space you want for the map */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Prevents overflow beyond the container */
}

.hover-info {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

svg {
  max-width: 100%;
  height: 100%;
}
